@model YourHouse.Web.Models.Entities.Account

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int idUser = ViewBag.IdUser;
    bool manageUser = Model.AccountId == idUser;
}

<div class="row">
    @* @Model.AccountId == @ViewBag.IdUser *@
    <div class="col">
        <div class="mt-3">
            <p class="form-control mt-1">@Model.FullName</p>
        </div>
        <div class="mt-3">
            <p class="form-control mt-1">@Model.Phone</p>
        </div>
        <div class="mt-3">
            <p class="form-control mt-1">@Model.Email</p>
        </div>
        @if (idUser == Model.AccountId)
        {
            <a asp-controller="Account" asp-action="Edit" asp-route-id="@Model.AccountId" class="btn btn-primary">Sửa thông tin</a>
            <a asp-controller="Account" asp-action="ChangePassword" asp-route-id="@Model.AccountId" class="btn btn-primary">Đổi mật khẩu</a>
        }
    </div>
</div>
