
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Add Article</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Administrator/MyArticle">MyArticle</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        @* <div class="filter"> *@
                        @*     <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a> *@
                        @*     <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"> *@
                        @*         <li class="dropdown-header text-start"> *@
                        @*             <h6>Filter</h6> *@
                        @*         </li> *@

                        @*         <li><a class="dropdown-item" href="#">Today</a></li> *@
                        @*         <li><a class="dropdown-item" href="#">This Month</a></li> *@
                        @*         <li><a class="dropdown-item" href="#">This Year</a></li> *@
                        @*     </ul> *@
                        @* </div> *@

                        <div class="card-body">
                            <h5 class="card-title">Trọ</h5>

                            <div class="d-flex align-items-center">
                                <div class="ps-3">
                                    <h6>@ViewBag.countArticleTro/@ViewBag.countArticle</h6>
                                    @{
                                        var percentTro = Convert.ToDouble(Convert.ToDouble(@ViewBag.countArticleTro) / Convert.ToDouble(@ViewBag.countArticle) * 100);
                                        <span class="text-success small pt-1 fw-bold">
                                            @percentTro%
                                        </span> <span class="text-muted small pt-2 ps-1"></span>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="card-body">
                            <h5 class="card-title">Chung cư</h5>

                            <div class="d-flex align-items-center">
                                <div class="ps-3">
                                    <h6>@ViewBag.countArticleChungCu/@ViewBag.countArticle</h6>
                                    @{
                                        var percentChungCu = Convert.ToDouble(Convert.ToDouble(@ViewBag.countArticleChungCu) / Convert.ToDouble(@ViewBag.countArticle) * 100);
                                        <span class="text-success small pt-1 fw-bold">
                                            @percentChungCu%
                                        </span> <span class="text-muted small pt-2 ps-1"></span>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title">Văn phòng</h5>

                            <div class="d-flex align-items-center">
                                <div class="ps-3">
                                    <h6>@ViewBag.countArticleOffice/@ViewBag.countArticle</h6>
                                    @{
                                        var percentOffice = Convert.ToDouble(Convert.ToDouble(@ViewBag.countArticleOffice) / Convert.ToDouble(@ViewBag.countArticle) * 100);
                                        <span class="text-success small pt-1 fw-bold">
                                            @percentOffice%
                                        </span> <span class="text-muted small pt-2 ps-1"></span>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title">Nhà</h5>

                            <div class="d-flex align-items-center">
                                <div class="ps-3">

                                    <h6>@ViewBag.countArticleHouse/@ViewBag.countArticle</h6>
                                    @{
                                        var percentHouse = Convert.ToDouble(Convert.ToDouble(@ViewBag.countArticleHouse) / Convert.ToDouble(@ViewBag.countArticle) * 100);
                                        <span class="text-success small pt-1 fw-bold">
                                            @percentHouse%
                                        </span> <span class="text-muted small pt-2 ps-1"></span>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                

            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        

    </div>
</section>